body{
    background-color: #555;
    padding: 0%;
    margin: 0%;
    margin-right: 0%;
    background-image: url(https://images.squarespace-cdn.com/content/v1/651a564bbd3235089d101f98/1696224855888-D85T652155VUK8LVHN7S/working-around-cranes-pixabay-site-285645_1920-resized.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

.navbar {
    background-color: #fcf9f9; /* Dark background color */
    overflow: hidden;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically center items */
    padding: 10px;
}

/* Logo Styling */
.logo img {
    height: 100px; 
}

/* Navigation Text Styling */
.nav-text {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}


.nav-text a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    font-size: 14px; 
}

mobile-nav-button {
    display: none; 
    font-size: 20px;
    cursor: pointer;
}


.nav-links {
    display: none; 
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 60px; 
    left: 0;
    width: 100%;
}

.nav-links a {
    padding: 15px;
    text-align: center;
    color: white;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid white;
}


@media screen and (max-width: 600px) {
    .mobile-nav-button {
        display: block;
    } 

    .nav-text {
        display: none; 
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
}
  
.content-box {
    text-align: center;
    top: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 20%;
    margin-bottom: 20%;
    padding: 20px;
    width: 100%;
}

.content-box button {
    color: #555;
    background-color: #ffffff; 
    padding: 15px 30px; 
    font-size: 16px; 
    border: 2px solid #555; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.content-box button:hover {
    background-color: #555; 
    color: #ffffff; 
}
  
.footer {
    background: #0d0d0d;
    color: white;
    text-align: center;
    padding: 10px;
    position:relative;
    bottom: 0;
    width: 100%;
}
footer p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}