body{
    background-color: #555;
    padding: 0%;
    margin: 0%;
}

.navbar {
    background-color: #ffffff;
    overflow: hidden;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.logo img {
    height: 100px;
}
.nav-text {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-text a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    color: black;
}
.nav-text a:hover {
    background-color: #555;
}
  
  .content-box {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
  }
  
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}